.float_left {
    float: left;
}

.float_right {
    float: right;
}

 .header_border {
     border: solid 1px;
     padding: 5px;
     margin-left: 5%;
     width: 50%;
 }

 .font_bold{
     font-weight: bold;
 }

 .display_flex {
     display: flex;
 }

 .w_50{
     width: 50%;
 }

.w_100{
     width: 100%;
 }
  